<blockquote class="text-2xl font-semibold italic text-center text-slate-900">
  When you look
  <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-500 relative inline-block">
    <span class="relative text-white">annoyed</span>
  </span>
  all the time, people think that you're busy.
</blockquote>
<div id="flash-message-example" class="border rounded p-4">
  <h2 class="text-lg font-bold">Flash Message Example</h2>
  <div class="flex flex-col space-y-5">
    <%=
      render partial: 'flash_message/form',
              locals: { form_type: :html }
    %>
    <%=
      render partial: 'flash_message/form',
              locals: { form_type: :turbo_stream }
    %>
  </div>
</div>

<div id="new_form">
  <%= render "form", form: @form %>
</div>

<div id="new_fields">
  <%= render "criterias", criteria: @criteria %>
</div>

