<h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight mb-8">Compact Month Calendar</h1>
<%= render_snippet(@code) %>
<div class="mx-auto grid max-w-3xl grid-cols-1 gap-x-8 gap-y-16 px-4 py-16 sm:grid-cols-2 sm:px-6 xl:max-w-none xl:grid-cols-3 xl:px-8 2xl:grid-cols-4">
  <div id="calendar">
    <%= compact_month_calendar(events:) %>
  </div>
  <div id="calendar2">
    <%= compact_month_calendar(id: :calendar2) %>
  </div>
</div>