<div class="mx-auto grid max-w-3xl grid-cols-1 gap-x-8 gap-y-16 px-4 py-16 sm:grid-cols-2 sm:px-6 xl:max-w-none xl:grid-cols-3 xl:px-8 2xl:grid-cols-4">
  <%= turbo_frame_tag :calendar do %>
    <%= compact_month_calendar(@date) %>
  <% end %>

  <%= turbo_frame_tag :calendar2 do %>
    <%= compact_month_calendar(@date2, true, :date2) %>
  <% end %>
</div>
