<li>
  <%= link_to path, class: link_classes do %>
    <% if svg %>
      <% classes = current_page?(path) ? "h-6 w-6 text-primary-600" : "h-6 w-6 text-gray-400 group-hover:text-primary-600" %>
      <%= inline_svg_tag svg, class: classes %>
    <% end %>
    <%= text %>
  <% end %>
</li>