<li>
  <%= link_to path, class: link_classes do %>
    <% if svg %>
      <%= inline_svg_tag svg, class: "text-gray-400 h-6 w-6 group-hover:text-primary-600" %>
    <% end %>
    <%= text %>
  <% end %>
</li>