<li>
  <%= content_tag(:div, class: classes, data: options[:data]) do %>
    <% if options[:svg] %>
      <%= inline_svg_tag options[:svg], class: svg_classes_plain %>
    <% end %>
    <%= button_to "Log out", Current.session, method: :delete %>
  <% end %>
</li>