<li data-controller="toggle" 
    data-toggle-initial-active-value="false"
    data-toggle-class-value="hidden"
    data-toggle-rotate-class="rotate-90 text-gray-500">
  <div>
    <button type="button" data-action="toggle#toggle" class="hover:bg-gray-50 flex items-center w-full text-left rounded-md p-2 gap-x-3 text-sm leading-6 font-semibold text-gray-700" aria-controls="sub-menu-1" aria-expanded="false">
      <%= inline_svg_tag options[:svg], class: svg_classes(path) %>
      <%= text %>
      <!-- Expanded: "rotate-90 text-gray-500", Collapsed: "text-gray-400" -->
      <svg class="text-gray-400 ml-auto h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-toggle-target="svg">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </button>
    <% if local_assigns.has_key? :submenu %>
      <ul data-toggle-target="content" class="mt-1 px-2 hidden">
        <% submenu.each do |entry| %>
          <li>
            <% classes = current_page?(entry.url) ? "text-primary-600 bg-gray-50" : "text-gray-700" %>
            <%= link_to entry.text, entry.url, class: "hover:bg-gray-50 block rounded-md py-2 pr-2 pl-9 text-sm leading-6 #{classes}" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</li>



          <%# <li>
            <div>
              <button type="button" class="hover:bg-gray-50 flex items-center w-full text-left rounded-md p-2 gap-x-3 text-sm leading-6 font-semibold text-gray-700" aria-controls="sub-menu-1" aria-expanded="false">
                <svg class="h-6 w-6 shrink-0 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                </svg>
                Teams
                <!-- Expanded: "rotate-90 text-gray-500", Collapsed: "text-gray-400" -->
                <svg class="text-gray-400 ml-auto h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                </svg>
              </button>
              <!-- Expandable link section, show/hide based on state. -->
              <ul class="mt-1 px-2" id="sub-menu-1">
                <li>
                  <!-- 44px -->
                  <a href="#" class="hover:bg-gray-50 block rounded-md py-2 pr-2 pl-9 text-sm leading-6 text-gray-700">Engineering</a>
                </li>
                <li>
                  <!-- 44px -->
                  <a href="#" class="hover:bg-gray-50 block rounded-md py-2 pr-2 pl-9 text-sm leading-6 text-gray-700">Human Resources</a>
                </li>
                <li>
                  <!-- 44px -->
                  <a href="#" class="hover:bg-gray-50 block rounded-md py-2 pr-2 pl-9 text-sm leading-6 text-gray-700">Customer Success</a>
                </li>
              </ul>
            </div>
          </li> %>