<h2 class="truncate text-base font-medium leading-7 text-slate-900 mb-2 mt-4">
  <a href="#"><%= title %></a>
</h2>
<!-- Tabs -->
<div
  x-cloak
  x-data="{
      selectedId: null,
      init() {
        // Set the first available tab on the page on page load.
        this.$nextTick(() => this.select(this.$id('tab', 1)))
      },
      select(id) {
        this.selectedId = id
      },
      isSelected(id) {
        return this.selectedId === id
      },
      whichChild(el, parent) {
        return Array.from(parent.children).indexOf(el) + 1
      }
  }" x-id="['tab']" class="max-w-5xl">
  <!-- Tab List -->
  <ul
    x-ref="tablist"
    @keydown.right.prevent.stop="$focus.wrap().next()"
    @keydown.home.prevent.stop="$focus.first()"
    @keydown.page-up.prevent.stop="$focus.first()"
    @keydown.left.prevent.stop="$focus.wrap().prev()"
    @keydown.end.prevent.stop="$focus.last()"
    @keydown.page-down.prevent.stop="$focus.last()"
    role="tablist"
    class="-mb-px flex items-center">
    <!-- Tab -->
    <li>
      <button class="flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 text-sm font-semibold lg:pr-"
              role="tab"
              :tabindex="isSelected($el.id) ? 0 : -1"
              :aria-selected="isSelected($el.id)"
              :class="isSelected($el.id) ? 'bg-white shadow' : 'border-transparent'"
              :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
              @click="select($el.id)"
              @mousedown.prevent
              @focus="select($el.id)"
              type="button">
          <svg class="h-5 w-5 flex-none" fill="none" :class="isSelected($el.parentElement.id) ? 'stroke-sky-500' : 'stroke-slate-600'" stroke-width="1.5" stroke-linecap="round"      stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.25 10c0 1-1.75 6.25-7.25 6.25S2.75 11 2.75 10 4.5 3.75 10 3.75 17.25 9 17.25 10Z"></path>
            <circle cx="10" cy="10" r="2.25"></circle>
          </svg>              
        <span class="sr-only lg:not-sr-only lg:ml-2" :class="isSelected($el.parentElement.id) ? 'text-slate-900' : 'text-slate-600'">Preview</span>
      </button>
    </li>
    <li>
      <button class="flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 text-sm font-semibold lg:pr-3"
              :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
              @click="select($el.id)"
              @mousedown.prevent
              @focus="select($el.id)"
              type="button"
              :tabindex="isSelected($el.id) ? 0 : -1"
              :aria-selected="isSelected($el.id)"
              :class="isSelected($el.id) ? 'bg-white shadow' : 'border-transparent'">
              <svg class="h-5 w-5 flex-none" :class="isSelected($el.parentElement.id) ? 'stroke-sky-500' : 'stroke-slate-600'" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                <path d="m13.75 6.75 3.5 3.25-3.5 3.25M6.25 13.25 2.75 10l3.5-3.25"></path>
              </svg>
        <span class="sr-only lg:not-sr-only lg:ml-2" :class="isSelected($el.parentElement.id) ? 'text-slate-900' : 'text-slate-600'">Code</span>
      </button>
    </li>
    <li>
    <div class="ml-6 mr-3 hidden h-5 w-px bg-slate-900/10 sm:block"></div>
    </li>
    <li>
      <button class="group relative ml-2 hidden h-9 w-9 items-center justify-center sm:flex">
        <svg class="h-8 w-8 stroke-slate-400 transition group-hover:rotate-[-4deg] group-hover:stroke-slate-600" fill="none" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <path d="M12.9975 10.7499L11.7475 10.7499C10.6429 10.7499 9.74747 11.6453 9.74747 12.7499L9.74747 21.2499C9.74747 22.3544 10.6429 23.2499 11.7475 23.2499L20.2475 23.2499C21.352 23.2499 22.2475 22.3544 22.2475 21.2499L22.2475 12.7499C22.2475 11.6453 21.352 10.7499 20.2475 10.7499L18.9975 10.7499" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M17.9975 12.2499L13.9975 12.2499C13.4452 12.2499 12.9975 11.8022 12.9975 11.2499L12.9975 9.74988C12.9975 9.19759 13.4452 8.74988 13.9975 8.74988L17.9975 8.74988C18.5498 8.74988 18.9975 9.19759 18.9975 9.74988L18.9975 11.2499C18.9975 11.8022 18.5498 12.2499 17.9975 12.2499Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M13.7475 16.2499L18.2475 16.2499" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M13.7475 19.2499L18.2475 19.2499" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <g class="opacity-0">
            <path d="M15.9975 5.99988L15.9975 3.99988" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M19.9975 5.99988L20.9975 4.99988" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M11.9975 5.99988L10.9975 4.99988" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
      </button>
    </li>
  </ul>
  <!-- Panels -->
  <div
    role="tabpanels">
    <!-- Panel -->
    <section x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))" :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))" role="tabpanel" class="py-4">
      <%= yield %>
    </section>
    <section x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))" :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))" role="tabpanel" class="py-4">
      <%= render_snippet(code) %>
    </section>
  </div>
</div>