<div class="p-3 md:p-5" data-controller="lightbox">
  <div class="columns-1 gap-3 lg:gap-5 sm:columns-2 lg:columns-3 xl:columns-4 [&>a:not(:first-child)]:mt-3 lg:[&>a:not(:first-child)]:mt-5">
    <% @pictures.each do |picture| %>
      <%= link_to url_for(picture.image), "data-src": url_for(picture.image), class: "block item" do %>
        <%= image_tag url_for(picture.image) %>
      <% end %>
    <% end %>
  </div>
</div>
  