<h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight mb-4">Animation</h1>

<p>Use <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" target="_blank" href="https://animista.net/">Animista</a> to generate animation css for new animation like in the example</p>

<h2 class="text-lg font-bold leading-7 text-gray-900 mb-4 mt-8">Zoom In</h2>
<div class="w-48 h-48 bg-red-500 animate-zoomin "></div>

<h2 class="text-lg font-bold leading-7 text-gray-900 mb-4 mt-8">Slide in Center animista</h2>
<div class="w-48 h-48 bg-green-500 animate-scaleincenter "></div>