<div class="grid min-h-screen place-items-center">
  <ul class="flex w-full max-w-6xl gap-4">
    <% (0..3).each do |i| %>
      <li class="group relative h-[500px] w-full overflow-hidden rounded-2xl bg-rose-300 flex-1 transition-all hover:grow-[1.25]">
        <%= image_tag "https://images.unsplash.com/photo-#{@image_ids[i]}?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dmlicmFudHxlbnwwfHwwfHx8MA%3D%3D", class: "absolute inset-0 w-full h-full object-cover" %>
        <div class="absolute inset-x-0 bottom-0 bg-gradient-to-t from-black/70 from-30% p-4">
          <div class="w-48">
            <h2 class="text-2xl font-medium text-white leading-tight">The card title is here.</h2>
            <div class="grid grid-rows-[0fr] transition-all group-hover:grid-rows-[1fr]">
              <p class="mt-2 overflow-hidden text-white/70 opacity-0 transition duration-300 group-hover:opacity-100">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima quia ipsa
                eius.
              </p>
            </div>
          </div>
        </div>        
      </li>
    <% end %>
  </ul>
</div>